<div id="spy">
    <div class="comp" *ngIf="connectedUser">
        <p>{{connectedUser.pseudo}}</p>
        <p class="detective">🕵️</p>
        <div class="pos-btn">
            <a routerLink="/create-event"><button class="btn">Créer un évènement</button></a>
            <a><button (click)="logOut()" class="btn">Se déconnetcer</button></a>
        </div>
    </div>
</div>
<div class="disco" *ngIf="!connectedUser">
        <a routerLink="/login"><button class="btn">Se connecter</button></a>
        <a routerLink="/register"><button class="btn">S'inscrire</button></a>
</div>