<h2>Mes évènements : </h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Nombre d'invité max</th>
            <th>Image</th>
            <th>Modifier</th>
            <th>Supprimer</th>
            <th>Annuler</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><button class="btn-table">📄</button></th>
            <th><button class="btn-table">🗑️</button></th>
            <th><button class="btn-table">❌</button></th>
        </tr>
    </tbody>
</table>

