<h2>Mes évènements : </h2>
    <div class="container">
        <div *ngFor="let item of myevents, let i = index">
            <div class="figure">
                <div class="img">
                    <div>{{item.name}}</div>
                    <div>{{item.description}}</div>
                    <div>{{item.startDate}}</div>
                    <div>{{item.endDate}}</div>
                    <div>{{item.maxGuest}}</div>
                    <div>une image :)</div>
                    <div><button class="btn-table" (click)="update(item.id)">📄</button></div>
                    <div><button class="btn-table" (click)="delete(item.id)">🗑️</button></div>
                    <div><button class="btn-table" (click)="cancel(item.id)">❌</button></div>
                </div>
            </div>
        </div>
    </div>
    <h3 *ngIf="faute">Flemme, fallait pas faire de fautes man ! </h3>

