<h2>Tous les évènements :</h2>
<table>
    <thead>
        <tr>
            <th class="thead">Nom</th>
            <th class="thead">Description</th>
            <th class="thead">Date de début</th>
            <th class="thead">Date de fin</th>
            <th class="thead">Nombre d'invité max</th>
            <th class="thead">Image</th>
            <th class="thead">Créateur</th>
            <th class="thead">Rejoindre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><button class="btn-table">🆗</button></th>
        </tr>
    </tbody>
</table>