body{
    background-color: #e8eaee;
}
*{
    
    // background-color: #ffffff;
    color : #121212;
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background-color: #364efe;
    border-radius: 12px;
    width: 10vw;
    color : #ffffff;
}
a{
    // background-color: #364efe;
    color : #121212;
    text-decoration: none;
    border-radius: 2em;

}
input{ 
    border-radius: 12px;
    background-color: #f2f4f5;
}

.btn{
    background-color: #364efe;
    color: #ffffff;
    padding: 8px;
    border-style: none;
    margin-top: 2px;
    cursor: pointer;
}
.btn:hover{
    background-color:  #ffffff;
    color:  #364efe;
    outline: 2px solid  #364efe;
}
form{
    background-color: #ffffff;
    border-radius: 2em;
    padding: 2%;
}

.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 250px;
}

label{
    margin-bottom: 8px;
}

.btn-pos{
    display: flex;
    justify-content: center;
}